<html>

<body>
    <div>
        <h2>Lista de Estudiantes</h2>
            <h5 style="font-family: 'Courier New', Courier, monospace;"> <a href="https://localhost:5001/">Home</a></h5>
        <br>
        <br>
        <a href="~/Estudiante/Registrar">Agregar estudiante</a>
        <br>
        <table id="tblEstudiantes" style="width: 100%;">
            <thead>
                <tr>
                    <th>Matrícula</th>
                    <th>Nombre</th>
                    <th>CURP</th>
                    <th>Carrera</th>
                    <th>Semestre</th>
                    <th>Horario</th>
                    <th>Telefono</th>
                    <th>Correo electrónico</th>
                    <th>Consultar</th>
                    <th>Editar</th>
                    <th>Eliminar</th>

                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>Saúl Carretero</td>
                    <td>CACS990615HQCDMX00</td>
                    <td>ING. automotriz</td>
                    <td>4</td>
                    <td>Matutino</td>
                    <td>11-1111-1111</td>
                    <td>saul@correo.com</td>
                    <td>Consultar</td>
                    <td><a href="https://localhost:5001/Estudiante/Registrar">Editar</a></td>
                    <td><a>Eliminar</a></td>
                </tr>
                    <br>
                 <tr>
                    <td>2</td>
                    <td>Mariana Cuevas</td>
                    <td>CUCM970527MQTRNR00</td>
                    <td>ING. automotriz</td>
                    <td>4</td>
                    <td>Vespertino</td>
                    <td>22-2222-2222</td>
                    <td>cuevas_mar@correo.com</td>
                    <td>Consultar</td>
                    <td><a href="https://localhost:5001/Estudiante/Registrar">Editar</a></td>
                    <td><a>Eliminar</a></td>
                </tr>
           </tbody>
        </table>
      </div>
    </body>
</html>