<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/1999/xhtml">
<html xmlns="http://w3.org/TR/xhtml/1999/xhtml">
<meta http-equiv="Content-Type" content="text/html" charset="utf-8">
<link rel="stylesheet" href="tabla1.css">

<body> 
    <div id="table">
        <h2>Lista de estudiantes</h2>

        <br>
        <br>
        <a href="https://localhost:5001/Alumnos/Registrar">Registrar alumno nuevo</a>
        <br>
        <table id="table" style="width:110%;" >
            <thead>
                <tr>
                    <th>IdEstudiante</th>
                    <th>Matrícula</th>
                    <th>Nombre</th>
                    <th>Sexo</th>
                    <th>CURP</th>
                    <th>Carrera</th>
                    <th>Semestre</th>
                    <th>Telefono</th>
                    <th>Correo electrónico</th>
                    <th>Editar</th>
                    <th>Eliminar</th>
                    <th>Consultar</th>
                <br>
                </tr>
            </thead>
            <tbody>
                 <tr>
                    <td>1</td>
                    <td>32021020100001</td>
                    <td>Saúl Carretero</td>
                    <td>M</td>
                    <td>CASAU990403CDMX00</td>
                    <td>Ing. Automtríz</td>
                    <td>4</td>
                    <td>11-1111-1111</td>
                    <td>saul_c14@correo.com</td>
                    <td><a href="#">Editar</a></td>
                    <td>Eliminar</td>
                    <td><a href="#">Consultar</a></td>
                </tr>
                <br>
                   <tr>
                    <td>2</td>
                    <td>32021020100002</td>
                    <td>Mariana Cuevas</td>
                    <td>F</td>
                    <td>CUMAR970222CDMX00</td>
                    <td>Ing. Automtríz</td>
                    <td>4</td>
                    <td>22-2222-2222</td>
                    <td>mananacuevas16@correo.com</td>
                    <td><a href="#">Editar</a></td>
                    <td>Eliminar</td>
                    <td><a href="#">Consultar</a></td>
                </tr>
            </tbody>
        </table>
     </div>
  </body>
</html>