@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Sitio de estudiantes</h1>
    <br>
    <br>
    <p style="padding: 0%;" class="display-6"><a href="https://localhost:5001/Alumnos/Lista">Lista de estudiantes</a>.</p>
    <br> 
    <p class="display6"><a href="https://localhost:5001/Alumnos/Registrar">Registro</a></p>
    <br>
    <p>Editar alumno</p>
    <br>
    <p>Consulta</p>
    <br>
    <p>Eliminar (baja lógica)</p>
</div>
