@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Alumnos</h1>
    <p><a href="https://localhost:5001/Estudiante/listado">Listado</a>&nbsp;   &nbsp; <a href="https://localhost:5001/Estudiante/Registrar">Alta de estudiante</a>  </p>
</div>
